.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;

    input {
        width: 100%;
    }


    .textarea {
        grid-column: 1 / 3;
        
        textarea {
            width: 100%;
        }
    }

    .button-container{
        text-align: center;
        grid-column: 1 / 4;
    }

    input,
    button,
    textarea {
        padding: .75em;
        box-shadow: -5px 5px #d28a2d;
    }
    .input-container {
        padding: .2em;
    }

}