html {
    font-size: 125%;
    background-color: #2f6c68;
}

*, h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;

}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


h1 {
    @include h1(6rem);
    padding: .1em;
}

h2 {
    @include h1 (3.5rem);
    text-shadow: -2px 2px 1px #d28a2d, -4px 4px 2px #2f6c68;
}

h3 {
    @include section-heading();
    color: #742e12;
    text-shadow: -3px 3px #d28a2d, -6px 6px #bfbda2;
}

h4 {
    color: #742e12;
    text-shadow: -1px 2px #d28a2d, -3px 4px #2f6c68;
    font-size: 3.5rem;
    letter-spacing: .15em;
    font-family: $header-font;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: $primary-font;
    font-size: 1.2rem;
}


.button {
    padding: 1em;
    margin: 1em;
    background-color: #d28a2d;
    color: #742e12;
    border-radius: .5em;
    box-shadow: -5px 5px #2f6c68;
    font-family: $primary-font;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.215rem;
}
