        // HEADER

.fa-bars,
.fa-times {
    display: none;
}

h1 {
    margin: 4rem 0;
}

.h2-container {
    background-color: #bfbda2;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 3.5rem 0;
    // margin-bottom: 12rem;
    box-shadow: 0px 0px 10px #00000050;
}

.directory-container {
    background-color: #bfbda2;
    // max-width: 1400px;
    // width: 90%;
    // margin: 0 auto;
    border-radius: 0 0 .5em .5em;
    padding: 2rem 0;
    // margin-bottom: 12rem;
    box-shadow: 0px 0px 10px #00000050
}

.directory {
    display: flex;
    justify-content: space-around;
}

        // HAMBURGER 

.hamburger-menu {
    // position: relative;
    // width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.menu {
    display: none;
    ul {
        li {
            padding: 2.2rem;
        }
    }
}

.hamburger-links {
    @include section-heading();
    margin: 0;
    font-size: 1.2rem;
    color: #742e12;
    text-shadow: -3px 3px #d28a2d, -6px 6px #bfbda2;
    padding: .5rem;
}

.hamburger-on,
.hamburger-off {
    border: none;
    background-color: #bfbda2;
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
}

.fa-bars,
.fa-times {
        display: block;
        font-size: 2.2rem;
        text-align: center;
        color: #742e12;
        text-shadow: -2px 2px 1px #d28a2d, -4px 4px 2px #2f6c68;
        -webkit-text-stroke: 1px #742e12;
    }

.checkbox {
    border: none;
    background-color: #bfbda2;
    position: absolute;
    top: .5rem;
    right: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    display: none;
}

header {
    min-height: 60vh;
    text-align: center;
}

.color-container {
    background-color: #bfbda2;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 2.5rem 0;
    margin-bottom: 10rem;
    box-shadow: 0px 0px 10px #00000050;
}

.about-container {
    display: flex;
    justify-content: space-between;

    .about-image {
        display: flex;
        align-items: center;
        width: 48%;
        margin-right: 1rem;

        img {
            border-radius: 1em;
            box-shadow: -5px 5px 2px #742e12, -10px 10px 5px #d28a2d, -15px 15px 10px #2f6c68;
        }
    }

    .about-text {
        width: 50%;

        p {
            margin: 1rem 0;
        }
    }

}

.skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    li {
        text-align: center;
        align-self: center;
        margin: 1em;

        i {
        font-size: 5rem;
        text-align: center;
        color: #2f6c68;
        text-shadow: -3px 2px #d28a2d;
        -webkit-text-stroke: 1px #742e12;
        }

    }
}

        // PROJECTS 

.projects {
    margin-bottom: 10rem;
}

.project-text-container h3 {
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.5em;
}

.project {
    box-shadow: 1px 1px 10px #00000071;
    background-color: #bfbda2;
    border-radius: 1em;
    padding: 1.5em 0;

    h4 {
            font-size: 2rem;
            text-align: center;
            padding: 0 .2em 1.5rem;
        }

    p {
        padding: 1.5em .7em;
    }

    .project-list{
        display: flex;
        justify-content: space-evenly;
        padding: 1em;
        
        li {
            padding: 1em;
            font-family: $primary-font;
            
        }
    }

    .link-container {
        text-align: center;
        padding: 1em 0;
    }
}

        // CONTACT

.contact {
    color: #050936;
}

.contact-container {
    box-shadow: -5px 5px 20px #00000071;
    border-radius: 1em;
    max-width: 1250px;
    margin: 2rem auto;
    padding: 5rem auto;
    width: 95%;
}

.contact-text {
    h3{
        text-align: center;
    }
    p {
        font-family: $primary-font;
        color: black;
        padding: 1.5rem 0;
    }
}

input,
textarea {
    background-color: #bfbda2;
    border: 2.5px solid #2f6c68;
}


// FOOTER

.footer-container {
    text-align: center;
    background-color: #bfbda2;
    padding: 1rem;
    border-radius: 1em 1em 0 0;

    p {
        color: #742e12;
        text-shadow: -1px 1px #d28a2d, -2px 2px #2f6c68;
        font-size: 1.5rem;
        letter-spacing: .15em;
        font-family: $header-font;
        text-transform: uppercase;
        text-align: center;
    }
}

