@media (max-width: 1200px) {

    .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3em;
    }   
}

@media (max-width: 1197px) {

    h1 {
        margin: 3rem auto;
    }
}

@media (max-width: 1100px) {

    .about-container {
    // padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: #bfbda2;
    // box-shadow: -5px 5px 20px #00000071;
    // padding: 5rem 1rem;
    // border-radius: 1em;

        .about-image {
            display: flex;
            // align-items: center;
            width: 100%;
            margin-bottom: 1.5rem;
            justify-content: center;


            img {
                width: 80%;
                border-radius: 1em;
                // box-shadow: -5px 5px 10px #d28a2d;
                box-shadow: -5px 5px 2px #742e12, -10px 10px 5px #d28a2d, -15px 15px 10px #2f6c68;
                // height auto fixes SMUSH
            }
        }

        .about-text {
            width: 100%;
            p {
                margin: 1rem 0;
            }
        }
    }

    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (max-width: 1000px) {

    .project-container {
    gap: 2em;
    }   

}

@media (max-width: 926px) {

    .project-container {
        display: grid;
        grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr;
    // gap: 5em;
    }   

    .color-container {
        padding: 2rem 0;
        margin-bottom: 8rem;
    }

    .projects {
        margin-bottom: 8rem;
    }

    h1 {
        margin: 2rem auto;
        font-size: 5rem;
    }

    h2,
    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.7rem;
    }
    

    .skill-grid {
        li {
            i {
            font-size: 4.5rem;
            }
        }
    }
}

@media (max-width: 775px) {
    .skill-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        li {
            text-align: center;
            align-self: center;
            margin: 1em;

            i {
            font-size: 4rem;
            text-align: center;
            color: #2f6c68;
            text-shadow: -3px 2px #d28a2d;
            -webkit-text-stroke: 1px #742e12;
            }

            .devicon-vscode-plain {
                display: none;
            }
        }
    }

    .extra-icon {
            display: none;
        }

    .form-container {
        grid-template-columns: 1fr;
        gap: .5em;
        
        .input-container {
        grid-column: span 3;
        }

        .input-container:nth-child(1) {
            grid-row: 1;
        }

        .input-container:nth-child(2) {
            grid-row: 2;
        }

    }

    .form-container button,
    .button {
        padding: .8rem;
    }
}

@media (max-width: 710px) {

    .color-container {
        padding: 1rem 0;
        margin-bottom: 6rem;
    }

    .projects {
        margin-bottom: 6rem;
    }

    h1 {
        margin: 2rem auto;
        font-size: 4rem;
        text-shadow: -3px 3px #d28a2d, -5px 5px #bfbda2;
    }

    h2,
    h3 {
        font-size: 2.5rem;
    }

    h3 {
        text-shadow: -2px 2px #d28a2d, -4px 4px #bfbda2;
    }

    h4 {
        font-size: 2rem;
    }
}

@media (max-width: 650px) {

    .directory-container {
        padding: 1.65rem
    }

    .directory-links {
    @include section-heading();
    font-size: 1rem;
    }
}

@media (max-width: 575px) {

    .directory-links {
        display: none;
    }
    
    .hamburger-on {
        display: block;
    }

    input:checked ~ .menu {
        display: block;
    }

    input:checked ~ .hamburger-off {
        display: block;
    }

    input:checked ~ .hamburger-on {
        display: none;
    }

    .checkbox {
        display: block;
    }


    



    // .fa-times {
    //     display: block;
    //     font-size: 2.2rem;
    //     text-align: center;
    //     color: #742e12;
    //     text-shadow: -2px 2px 1px #d28a2d, -4px 4px 2px #2f6c68;
    //     -webkit-text-stroke: 1px #742e12;
    // }

    .directory-container {
        display: flex;
        // justify-content: flex-end;
        justify-content: center;
    }


    .color-container {
        padding: 1rem 0;
        margin-bottom: 5rem;
    }

    .projects {
        margin-bottom: 6rem;
    }

    h1 {
        margin: 2rem auto;
        font-size: 3.2rem;
    }

    h2,
    h3 {
        font-size: 2.5rem;
    }
    

    h4 {
        font-size: 2rem;
    }

    .about-container {
        .about-image {
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 485px) {

    h1 {
        margin: 2rem auto;
        font-size: 2.8rem;
        text-shadow: -3px 3px #d28a2d, -5px 5px #bfbda2;
    }

    h2,
    h3 {
        font-size: 2.2rem;
    }
    

    h4 {
        font-size: 2rem;
    }

    .skill-grid {
        // background-color: #050936;
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
            margin: .6em;

            i {
            font-size: 4.2rem;
            text-align: center;
            color: #2f6c68;
            text-shadow: -3px 2px #d28a2d;
            -webkit-text-stroke: 1px #742e12;
            }

            .devicon-vscode-plain {
                display: block;
            }
        }
    }

    .footer-container {
        p {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 410px) {

    h1 {
        margin: 2rem auto;
        font-size: 2.2rem;
        text-shadow: -3px 3px #d28a2d, -5px 5px #bfbda2;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.9rem;
    }

    .skill-grid {
        li {
            margin: .5em;
            i {
                font-size: 4rem;
            }
        }
    }
    

    .project {
        h4 {
            font-size: 1.7rem;
        }
    }

    

    .button {
        margin: 0.5em
    }
}