// VARIABLES

$header-font: 'Righteous', cursive;
$primary-font: 'Raleway', sans-serif;




// MIXINS

@mixin wrapper ($width) {
    max-width: 1200px;
    width: $width;
    margin: 0 auto;
}

@mixin h1 ($size) {
    font-family: $header-font;
    color: #742e12;
    font-size: $size;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-shadow: -4px 4px #d28a2d, -7px 7px #bfbda2;
}

@mixin section-heading {
    font-size: 3.5rem;
    letter-spacing: .15em;
    font-family: $header-font;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem auto;
    border-radius: 1rem 0;
}


// SANDBOX
.wrapper {
    @include wrapper(90%);
}

.jumbo-wrapper {
    width: 95%;
    margin: auto;
}

.directory-links {
    @include section-heading();
    font-size: 1.2rem;
    color: #742e12;
    text-shadow: -3px 3px #d28a2d, -6px 6px #bfbda2;
    padding: 1rem;
}

