html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "Righteous", cursive;
  color: #742e12;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: -3px 3px #d28a2d, -6px 6px #bfbda2;
}

h2 {
  font-family: "Righteous", cursive;
  color: #742e12;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: -3px 3px #d28a2d, -6px 6px #bfbda2;
  text-shadow: -2px 2px 1px #d28a2d, -4px 4px 2px #2f6c68;
}

h3 {
  font-size: 3.5rem;
  letter-spacing: 0.15em;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem auto;
  border-radius: 1rem 0;
  color: #742e12;
  text-shadow: -3px 3px #d28a2d, -6px 6px #bfbda2;
}

h4 {
  color: #742e12;
  text-shadow: -1px 2px #d28a2d, -3px 4px #2f6c68;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
}

.button {
  padding: 1em;
  margin: 1em;
  background-color: #d28a2d;
  color: #742e12;
  border-radius: 0.5em;
  -webkit-box-shadow: -5px 5px #2f6c68;
          box-shadow: -5px 5px #2f6c68;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.215rem;
}

*, h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}
.form-container input {
  width: 100%;
}
.form-container .textarea {
  grid-column: 1/3;
}
.form-container .textarea textarea {
  width: 100%;
}
.form-container .button-container {
  text-align: center;
  grid-column: 1/4;
}
.form-container input,
.form-container button,
.form-container textarea {
  padding: 0.75em;
  -webkit-box-shadow: -5px 5px #d28a2d;
          box-shadow: -5px 5px #d28a2d;
}
.form-container button {
  padding: 1em;
  margin: 1em;
  background-color: #d28a2d;
  color: #742e12;
  border: none;
  border-radius: 0.5em;
  -webkit-box-shadow: -5px 5px #2f6c68;
          box-shadow: -5px 5px #2f6c68;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.215rem;
}
.form-container .input-container {
  padding: 0.2em;
}

h1 {
  margin: 4rem 0;
}

.h2-container {
  background-color: #bfbda2;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1em;
  padding: 3.5rem 0;
  -webkit-box-shadow: 0px 0px 10px #00000050;
          box-shadow: 0px 0px 10px #00000050;
}

.directory-container {
  background-color: #bfbda2;
  border-radius: 0 0 0.5em 0.5em;
  padding: 2rem 0;
  -webkit-box-shadow: 0px 0px 10px #00000050;
          box-shadow: 0px 0px 10px #00000050;
}

.directory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.scroll-box i {
  margin: 5rem 0;
  font-size: 5rem;
  text-align: center;
  color: #742e12;
  text-shadow: 0px -4px 5px #d28a2d, 0px -6px 1px #bfbda2;
}

header {
  height: 80vh;
  text-align: center;
}

.color-container {
  background-color: #bfbda2;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1em;
  padding: 3.5rem 0;
  margin-bottom: 12rem;
  -webkit-box-shadow: 0px 0px 10px #00000050;
          box-shadow: 0px 0px 10px #00000050;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-container .about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  margin-right: 1rem;
}
.about-container .about-image img {
  border-radius: 1em;
  -webkit-box-shadow: -5px 5px 2px #742e12, -10px 10px 5px #d28a2d, -15px 15px 10px #2f6c68;
          box-shadow: -5px 5px 2px #742e12, -10px 10px 5px #d28a2d, -15px 15px 10px #2f6c68;
}
.about-container .about-text {
  width: 50%;
}
.about-container .about-text p {
  margin: 1rem 0;
  font-size: 1.3em;
}

.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.skill-grid li {
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1em;
}
.skill-grid li i {
  font-size: 5rem;
  text-align: center;
  color: #2f6c68;
  text-shadow: -3px 2px #d28a2d;
  -webkit-text-stroke: 1px #742e12;
}

.projects {
  margin-bottom: 12rem;
}

.project-text-container h3 {
  text-align: center;
}

.project-text-container h3 {
  font-size: 3rem;
  margin: 3rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5em;
}

.project {
  -webkit-box-shadow: 1px 1px 10px #00000071;
          box-shadow: 1px 1px 10px #00000071;
  background-color: #bfbda2;
  border-radius: 1em;
  padding: 1.5em 0;
}
.project h4 {
  font-size: 2rem;
  text-align: center;
  padding: 0 0.2em 1.5rem;
}
.project p {
  padding: 1.5em 0.7em;
  font-size: 1.3em;
}
.project .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1em;
}
.project .project-list li {
  padding: 1em;
  font-family: "Raleway", sans-serif;
}
.project .link-container {
  text-align: center;
  padding: 1em 0;
}

.contact {
  color: #050936;
}

.contact-container {
  -webkit-box-shadow: -5px 5px 20px #00000071;
          box-shadow: -5px 5px 20px #00000071;
  border-radius: 1em;
  max-width: 1250px;
  margin: 2rem auto;
  padding: 5rem auto;
  width: 95%;
}

.contact-text h3 {
  text-align: center;
}
.contact-text p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  color: black;
  padding: 1.5rem 0;
}

input,
textarea {
  background-color: #bfbda2;
  border: 2.5px solid #2f6c68;
}

.footer-container {
  text-align: center;
  background-color: #bfbda2;
  padding: 1rem;
  border-radius: 1em 1em 0 0;
}
.footer-container p {
  color: #742e12;
  text-shadow: -1px 1px #d28a2d, -2px 2px #2f6c68;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  text-align: center;
}

html {
  background-color: #2f6c68;
}